.product_listing_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_listing_container h1 {
    padding: 1.5rem;
}

.product_listing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.product_card img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.product_card {
    width: 400px;
}